/*PC & NB*****************************************************************************/
@media only screen and (max-width: 2900px) {
  body {
    font-family: "Raleway", sans-serif;
  }
  header {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 2rem 12rem;
  }
  header h3 {
    font-weight: 700;
  }
  header h3 img {
    vertical-align: middle;
    height: 2rem;
  }
  header nav {
    font-weight: 500;
  }
  header nav a {
    margin-right: 1rem;
  }
  header nav a:last-child {
    font-weight: 700;
  }
  #profile-section {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 0.5rem;
    background-color: #f5f5f5;
    padding: 2rem 12rem;
  }
  #profile-h1 {
    font-size: 52px;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  #profile-h2 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 2rem;
  }
  #flecha {
    margin-right: 1rem;
  }
  #profile-img {
    width: 23rem;
    height: 23rem;
  }

  #about-me-section {
    background-color: #eaf2fd;
    padding: 2rem 12rem;
  }
  #about-me-h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 2rem;
  }
  #about-me-p {
    width: 70%;
    padding-bottom: 1rem;
  }
  #skills-section {
    padding: 2rem 6rem;
    background-color: #f5f5f5;
  }
  #titulos-h2 {
    padding-top: 3rem;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  #skills-div {
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    justify-content: space-between;
  }
  #skills-div div,
  #hobbies-div div {
    background-color: white;
    height: 170px;
  }
  #skills-div div img,
  #hobbies-div div img {
    position: relative;
    top: 6rem;
    left: 1rem;
  }
  #skills-div div p,
  #hobbies-div div p {
    position: relative;
    top: 6.5rem;
    left: 1rem;
  }
  #hobbies-div {
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    justify-content: space-between;
  }
  #education-section {
    padding: 2rem 6rem;
    background-color: #eaf2fd;
  }
  #education-div {
    padding: 4rem 6rem 1rem 6rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
  #education-div div {
    background-color: white;
    padding: 4rem 2rem;
  }
  #education-div div img {
    display: block;
    margin: auto;
  }
  #label-div{
    padding: 0rem 6rem 3rem 6rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}
#label-div p:first-child{
    font-size: 22px;
    font-weight: 700;
}
#experience-section{
  padding:2rem 12rem;
  background-color: #F5F5F5;
  display: grid;
}

#experience-section div{
  padding-top: 2rem;
  display: inline-block;
  
}
#div-right{
  float: right;
}
#buttons {
  position: relative;
  bottom: 12rem; margin: 1rem;
 
}
#buttons h3{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

#button-repo{
  margin: 0.5rem 0rem;
  border: 1px solid #2A7AE4;
  box-sizing: border-box;
  color:#2A7AE4;
  width:116px;
  height:51px;
}
#button-demo{
  background-color: #2A7AE4;
  margin: 0.5rem 0.5rem;
  border: 1px solid #2A7AE4;
  box-sizing: border-box;
  font-size: 16px;
  color:white;
  width:116px;
  height:51px;
}

}
/*TABLET******************************************************************************/
@media only screen and (max-width: 768px) {
}
/*MOBILE*******************************************************************************/
@media only screen and (max-width: 360px) {
}
