/*PC & NB*****************************************************************************/
@media only screen and (max-width: 2900px) {
  body {
    width: 100%;
    font-family: "Raleway", sans-serif;
  }
  header {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 2rem 12rem;
  }
  header h3 {
    font-weight: 700;
  }
  header h3 img {
    vertical-align: middle;
    height: 2rem;
  }
  header nav {
    font-weight: 500;
    padding-top: 0.5rem;
  }
  header nav a {
    margin-right: 1rem;
  }
  header nav a:last-child {
    font-weight: 700;
  }
  #profile-section {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #f5f5f5;
    padding: 2rem 12rem;
  }
  #profile-h1 {
    font-size: 52px;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  #profile-h2 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 2rem;
  }
  #flecha {
    margin-right: 1rem;
  }
  #profile-img {
    width: 23rem;
    height: 23rem;
    padding-right: 12rem;
  }

  #about-me-section {
    background-color: #eaf2fd;
    padding: 2rem 12rem;
  }
  #about-me-h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 2rem;
  }
  #about-me-p {
    width: 70%;
    padding-bottom: 1rem;
  }
  #skills-section {
    padding: 2rem 6rem;
    background-color: #f5f5f5;
  }
  #titulos-h2 {
    padding-top: 3rem;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  #skills-div {
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    justify-content: space-between;
  }
  #skills-div div,
  #hobbies-div div {
    background-color: white;
    height: 170px;
  }
  #skills-div div img,
  #hobbies-div div img {
    position: relative;
    top: 6rem;
    left: 1rem;
  }
  #skills-div div p,
  #hobbies-div div p {
    position: relative;
    top: 6.5rem;
    left: 1rem;
  }
  #hobbies-div {
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    justify-content: space-between;
  }
  #education-section {
    padding: 2rem 6rem;
    background-color: #eaf2fd;
  }
  #education-div{
    padding: 2rem 6rem;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
  #education-div-img{
    background-color: white;
    
  }
  #education-div-img img{
    display:block;
    margin: auto;
    width: 80%;
    padding:2rem 0rem;
  }
  #label-div p:first-child{
    padding:1rem 0rem;
    font-size: 22px;
    font-weight: 700;
  }
    #experience-section {
    padding: 2rem 10rem;
    background-color: #f5f5f5;
  }
  #experience-section div {
    justify-content: space-between;
  }
  #div-left {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 2rem;
  }
  #div-right {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 2rem;
  }
  #experience-section div div img {
    width: 100%;
    height: auto;
  }
  #buttons h3 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }
  #buttons {
    margin-top: 45%;
    margin-left: 10%;
    display: block;
  }
  #button-repo {
    margin: 0.5rem 0rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 16px;
    color: #2a7ae4;
    height: 51px;
    width: 105px;
  }
  #button-demo {
    background-color: #2a7ae4;
    margin: 0.5rem 0.5rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    height: 51px;
    width: 105px;
  }

  #contact-section {
    padding: 2rem 12rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    background-color: #eaf2fd;
  }
  #contact-img {
    width: 90%;
    height: auto;
  }
  form h2 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  form input {
    margin-top: 2rem;
    width: 90%;
    height: 56px;
  }
  form textarea {
    margin-top: 2rem;
    width: 90%;
    height: 133px;
  }
  form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #c8c8c8 1px solid;
  }

  form textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #c8c8c8 1px solid;
    padding-top: 1rem;
  }
  form input:placeholder-shown {
    font-size: 16px;
    font-family: Raleway;
  }
  form input:focus {
    font-size: 16px;
    font-family: Raleway;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #2a7ae4 1px solid;
  }

  form textarea:placeholder-shown {
    font-size: 16px;
    font-family: Raleway;
    padding-top: 1rem;
  }

  form button {
    background-color: #2a7ae4;
    margin-top: 2rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    height: 51px;
    width: 144px;
  }
  form {
    display: block;
  }
#footer{
  text-align: center;
  padding: 2rem 12rem;
}
}
/*TABLET******************************************************************************/
@media only screen and (max-width: 1100px) {
  body {
    width: 100%;
    font-family: "Raleway", sans-serif;
  }
  header {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 2rem 2rem;
  }
  header h3 {
    font-weight: 700;
  }
  header h3 img {
    height: 2rem;
  }
  header nav {
    font-weight: 500;
  }
  header nav a {
    display:none;
    margin-right: 0.2rem;
  }
  header nav a:last-child {
    display: block;
    font-weight: 700;
  }
  #profile-section {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #f5f5f5;
    padding: 2rem 2rem;
  }
  #profile-h1 {
    padding-top:1rem;
    font-size: 22px;
    font-weight: 700;
    padding-bottom:1rem;
  }
  #profile-h2 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom:1rem;
  }
  #flecha {
    margin-right: 1.5rem;
  }
  #profile-img {
    vertical-align: middle;
    padding-left:1.5rem;
    width: 146px;
    height: 146px;
  }
  #about-me-section {
    width: 100%;
    background-color: #eaf2fd;
    padding: 2rem 2rem;
  }
  #about-me-h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  #about-me-p {
    width: 100%;
    padding-bottom: 1rem;
  }
  #skills-section {
    width: 100%;
    padding: 2rem 2rem;
    background-color: #f5f5f5;
  }
  #titulos-h2 {
    padding-top: 2rem;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  #skills-div {
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 2rem;
    justify-content: space-between;
  }
  #skills-div div,
  #hobbies-div div {
    background-color: white;
    height: 170px;
  }
  #skills-div div img,
  #hobbies-div div img {
    position: relative;
    top: 6rem;
    left: 1rem;
  }
  #skills-div div p,
  #hobbies-div div p {
    position: relative;
    top: 6.5rem;
    left: 1rem;
  }
  #hobbies-div {
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 2rem;
    justify-content: space-between;
  }
  #education-section {
    width: 100%;
    padding: 2rem 2rem;
    background-color: #eaf2fd;
  }
  #education-div{
    padding: 2rem 0rem;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
  #education-div-img{
    background-color: white;
  }
  #education-div-img img{
    display:block;
    margin: auto;
    width: 50%;
    padding:2rem 0rem;
  }
  #label-div p:first-child{
    padding:1rem 0rem 0rem 0rem;
    font-size: 16px;
    font-weight: 700;
  }
  #label-div p:last-child{
    padding:0.2rem 0rem;
    font-size: 14px;
    font-weight: 500;
  }
  #experience-section {
    width: 100%;
    padding: 0rem 2rem;
    background-color: #f5f5f5;
  }

  #div-left{
    display: flex;
    flex-direction: column;
  }
  #div-right{
    display: flex;
    flex-flow: column-reverse  wrap-reverse;
  }
  #experience-section div div img {
    width: 100%;
    height: auto;
  }
  #buttons h3 {
    font-size: 22px;
    font-weight: 700;
  }
  #buttons {
      justify-content: start;
      margin-top: 0px;
      margin-left:0px;
  }
  #button-repo {
    margin: 0.5rem 0rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 14px;
    color: #2a7ae4;
    height: 40px;
    width: 96px;
  }
  #button-demo {
    background-color: #2a7ae4;
    margin: 0.5rem 0.5rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    height: 40px;
    width: 96px;
  }

  #contact-section {
    width: 100%;
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    background-color: #eaf2fd;
  }
  #contact-img {
    display: none;
  }
  form h2 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  form input {
    margin-top: 2rem;
    width: 80%;
    height: 56px;
  }
  form textarea {
    margin-top: 2rem;
    width: 80%;
    height: 133px;
  }
  form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #c8c8c8 1px solid;
  }

  form textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #c8c8c8 1px solid;
    padding-top: 1rem;
  }
  form input:placeholder-shown {
    font-size: 16px;
    font-family: Raleway;
  }
  form input:focus {
    font-size: 16px;
    font-family: Raleway;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #2a7ae4 1px solid;
  }

  form textarea:placeholder-shown {
    font-size: 16px;
    font-family: Raleway;
    padding-top: 1rem;
  }

  form button {
    background-color: #2a7ae4;
    margin-top: 2rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    height: 51px;
    width: 133px;
  }
  form {
    display: block;
  }
#footer{
  text-align: center;
  padding: 2rem 12rem;
}

}
/*MOBILE*******************************************************************************/
@media only screen and (max-width: 550px) {
  body {
    width: 100%;
    font-family: "Raleway", sans-serif;
  }
  header {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 1rem 2rem;
  }
  header h3 {
    font-weight: 700;
  }
  header h3 img {
    height: 2rem;
  }
  header nav {
    font-weight: 500;
  }
  header nav a {
    display:none;
    margin-right: 0.2rem;
  }
  header nav a:last-child {
    display: block;
    font-weight: 700;
  }
  #profile-section {
    width: 100%;
    display: flex;
    flex-flow: column-reverse  wrap-reverse;
    background-color: #f5f5f5;
    padding: 1rem 2rem;
  }
  #profile-h1 {
    padding-top:1rem;
    font-size: 22px;
    font-weight: 700;
    padding-bottom:1rem;
  }
  #profile-h2 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom:1rem;
  }
  nav a{
    font-size: 14px;
  }
  #flecha {
    margin-right: 0.8rem;
  }
  #profile-img {
    vertical-align: middle;
    padding-left:1.5rem;
    width: 146px;
    height: 146px;
  }
  #about-me-section {
    width: 100%;
    background-color: #eaf2fd;
    padding: 2rem 2rem;
  }
  #about-me-h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  #about-me-p {
    width: 100%;
    padding-bottom: 1rem;
  }
  #skills-section {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #f5f5f5;
  }
  #titulos-h2 {
    padding-top: 1rem;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  #skills-div {
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
  }
  #skills-div div,
  #hobbies-div div {
    background-color: white;
    height: 170px;
  }
  #skills-div div img,
  #hobbies-div div img {
    position: relative;
    top: 6rem;
    left: 1rem;
  }
  #skills-div div p,
  #hobbies-div div p {
    position: relative;
    top: 6.5rem;
    left: 1rem;
  }
  #hobbies-div {
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
  }
  #education-section {
    width: 100%;
    padding: 2rem 2rem;
    background-color: #eaf2fd;
  }
  #education-div{
    padding: 2rem 0rem;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
  #education-div-img{
    background-color: white;
  }
  #education-div-img img{
    display:block;
    margin: auto;
    width: 50%;
    padding:2rem 0rem;
  }
  #label-div p:first-child{
    padding:1rem 0rem 0rem 0rem;
    font-size: 16px;
    font-weight: 700;
  }
  #label-div p:last-child{
    padding:0.2rem 0rem;
    font-size: 14px;
    font-weight: 500;
  }
  #experience-section {
    width: 100%;
    padding: 0rem 2rem;
    background-color: #f5f5f5;
  }
 
  #div-left{
    display: flex;
    flex-direction: column;
  }
  #div-right{
    display: flex;
    flex-flow: column-reverse  wrap-reverse;
  }
  #experience-section div div img {
    width: 100%;
    height: auto;
  }
  #buttons h3 {
    font-size: 22px;
    font-weight: 700;
  }
  #buttons {
      justify-content: start;
      margin-top: 0px;
      margin-left:0px;
  }
  #button-repo {
    margin: 0.5rem 0rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 14px;
    color: #2a7ae4;
    height: 40px;
    width: 96px;
  }
  #button-demo {
    background-color: #2a7ae4;
    margin: 0.5rem 0.5rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    height: 40px;
    width: 96px;
  }

  #contact-section {
    width: 100%;
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    background-color: #eaf2fd;
  }
  #contact-img {
    display: none;
  }
  form h2 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  form input {
    margin-top: 2rem;
    width: 90%;
    height: 56px;
  }
  form textarea {
    margin-top: 2rem;
    width: 90%;
    height: 133px;
  }
  form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #c8c8c8 1px solid;
  }

  form textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #c8c8c8 1px solid;
    padding-top: 1rem;
  }
  form input:placeholder-shown {
    font-size: 16px;
    font-family: Raleway;
  }
  form input:focus {
    font-size: 16px;
    font-family: Raleway;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #2a7ae4 1px solid;
  }

  form textarea:placeholder-shown {
    font-size: 16px;
    font-family: Raleway;
    padding-top: 1rem;
  }
  form button {
    background-color: #2a7ae4;
    margin-top: 2rem;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    height: 51px;
    width: 133px;
  }
  form {
    display: block;
  }
#footer{
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
}
}
